.incentive {
    display: flex;
    justify-content: center;
    height: 250px;
}

.rowOfSteps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1057px;
}

.step {
display: flex;
flex-direction: column;
align-items: center;
color: rgba(169, 181, 204, 1);
font-family: 'Ubuntu', sans-serif;

}
.last-step {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgba(39, 43, 53, 1);
width: 294px;
height: 120px ;
color: rgba(169, 181, 204, 1) ;
}
.last-step p {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.last-step p:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
}
#enjoy {
    font-size: 51.22px;
    font-weight: 700;
}

#new-world {
    font-weight: 300 ;
    font-size: 22.66px;
    margin-top: -5px;
}

.step img {
    width: 90px;
    height: 90px;
}

.step img:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
}

#arrow {
    height: 30px;
    
}


@media(max-width: 1150px) {
    .rowOfSteps {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 757px;
    }
}
@media(max-width: 800px) {
    .rowOfSteps {
        width: 657px;
    }
    .step img {
        width: 40px;
        height: 40px;
    }
    #enjoy {
        font-size: 31.22px;
        font-weight: 700;
    }
    
    #new-world {
        font-weight: 300 ;
        font-size: 12.66px;
        margin-top: -5px;
    }
    .last-step {
        width: 150px;
    }

}
@media(max-width: 500px) {
    .rowOfSteps {
        display: flex;
        flex-direction: column;   
        align-items: center;
        justify-content: space-between;
        
    }
    .step img {
        width: 80px;
        height: 80px;
    }
    
    #arrow {
        transform: rotate(90deg) ;
        
    }
    .incentive {
        height: 600px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
}
